x-commons:
  ratelimit-headers: &ratelimit-headers
    X-RateLimit-Limit:
      $ref: '#/components/headers/X-RateLimit-Limit'
    X-RateLimit-Remaining:
      $ref: '#/components/headers/X-RateLimit-Remaining'
    X-RateLimit-Reset:
      $ref: '#/components/headers/X-RateLimit-Reset'
  common-responses: &common-responses
    '400':
      $ref: '#/components/responses/400BadRequest'
    '429':
      $ref: '#/components/responses/429TooManyRequests'
    '503':
      $ref: '#/components/responses/503ServiceUnavailable'
    default:
      $ref: '#/components/responses/default'

openapi: 3.0.0
info:
  title: Pdnd API
  version: 0.1.0
  contact:
    email: alessandro@teamdigitale.governo.it
    name: Alessandro Ercolani
  description: |
    #### Documentazione
    Il servizio si propone di esporre tramite openapi3 alcune API del PDND - Daf
    #### Note
    Il servizio richiede autenticazione tramite Bearer o Basic Auth previa registrazione sul portale
     https://dataportal.daf.teamdigitale.governo.it , e va' usato rispettando gli
    header di throttling esposti in conformita' alle Linee Guida del Modello di interoperabilita'.
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - description: Prod server
    url: https://api.daf.teamdigitale.it/pdnd-openapi
  - description: Development server
    url: http://localhost:8080/pdnd-openapi
    x-sandbox: true
  - description: Test server
    url: https://api.daf.teamdigitale.test/pdnd-openapi
paths:
  /status:
    get:
      description: |
        Return JWT token
      operationId: openapi.status
      responses:
        <<: *common-responses
        '200':
          content:
            'application/json':
              schema:
                $ref: 'https://raw.githubusercontent.com/teamdigitale/openapi/0.0.4/docs/definitions.yaml#/schemas/Problem'  
          description: |
            Current status of api.
          headers:
            <<: *ratelimit-headers
      summary: Return status from server
      tags:
      - Status
  /jwt:
    get:
      description: |
        Return JWT token XXX document the authentication method to get the token.
      operationId: openapi.get_token
      security:
        - basic: []
      responses:
        <<: *common-responses
        '200':
          content:
            'application/json':
              schema:
                type: object
                properties:
                  jwt:
                    type: string
          description: |
            JWT token.
          headers:
            <<: *ratelimit-headers
      summary: Return pdnd jwt token
      tags:
      - Login
  /dataset/public/search:
    post:
      description: |
        Search for public datasets present on PDND
      operationId: openapi.public_data_search
      #security:
      #  - jwt: []
      requestBody:
          content:
            application/json:
              schema:
                 x-body-name: filters
                 $ref: '#/components/schemas/Filters'
          #description: filter to use in search
          #required: true
      responses:
        <<: *common-responses
        '200':
          content:
            'application/json':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SearchResult'
          description: |
            Search for a dataset from pdnd
          headers:
            <<: *ratelimit-headers
      summary: Search for a dataset from pdnd
      tags:
      - Datasets
  /dataset/save:
    post:
      description: |
        Save dataset into PDND. It performs an upsert operation, if dataset is present by name it will try to update, 
        otherwise try to create a new one. Remember only user with particular privileges (admin or editor) can use
        this API.
      operationId: openapi.dataset_save
      security:
        - jwt: []
        - basic: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              x-body-name: file
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: file to upload
                name:
                  type: string
                  description: name of dataset to save, if name already present will try an update.
                               The update will succedd only if the schema is the same of the previous 
                               inserted file
                theme:
                  type: string
                  description: is the theme according to a controlled vocabulary
                subtheme:
                  type: string
                  description: is the subtheme according to a controlled vocabulary
                org:
                  type: string
                  description: is the organization name or workgroup the user belong
                user:
                  type: string
                  description: username choosen when registered
                description:
                  type: string
                  description: description of the dataset
              required:
                - file
                - user
                - name
                - theme
                - subtheme
                - description
                - org
          #description: filter to use in search
          #required: true
      responses:
        <<: *common-responses
        '200':
          content:
            'application/json':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SearchResult'
          description: |
            JWT token.
          headers:
            <<: *ratelimit-headers
      summary: only EDITOR or ADMIN user can perform save. It is an upsert operation 
      tags:
      - Datasets
  /pdnd-nteract/dataset/{name}:
    get:
      parameters:
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: unique name of dataaset into pdnd
      description: |
        Return metadata about dataset that can be used to load dataset in a cell
      operationId: openapi.dataset_by_name
      security:
        - jwt: []
      responses:
        <<: *common-responses
        '200':
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/MetaInfo'
          description: |
            Return metadata about dataset name uri for api etc....
          headers:
            <<: *ratelimit-headers
      summary: Return metadata about dataset name uri for api etc....
      tags:
      - PDND nteract
  /pdnd-nteract/search:
    post:
      description: |
        Search for public datasets present on PDND
      operationId: openapi.pdnd_search
      #security:
      #  - jwt: []
      requestBody:
          content:
            application/json:
              schema:
                 x-body-name: filters
                 $ref: '#/components/schemas/Filters'
          #description: filter to use in search
          #required: true
      responses:
        <<: *common-responses
        '200':
          content:
            'application/json':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SearchResult'
          description: |
            Search for a dataset from pdnd
          headers:
            <<: *ratelimit-headers
      summary: Search for a dataset from pdnd
      tags:
      - PDND nteract
  /pdnd-nteract/search_ckan:
    post:
      description: |
        search_ckan
      operationId: openapi.pdnd_search_ckan
      #security:
      #  - jwt: []
      requestBody:
          content:
            application/json:
              schema:
                 x-body-name: filters
                 $ref: '#/components/schemas/Filters'
          #description: filter to use in search
          #required: true
      responses:
        <<: *common-responses
        '200':
          content:
            'application/json':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SearchResult'
          description: |
            Search for a dataset from ckan
          headers:
            <<: *ratelimit-headers
      summary: Search for a dataset from ckan
      tags:
      - PDND nteract
components:
  securitySchemes:
    jwt:
      type: http
      scheme: bearer
      bearerFormat: JWT
      x-bearerInfoFunc: openapi.forward_token
    basic:
      type: http
      scheme: basic
      x-basicInfoFunc: openapi.basic_auth
  headers:
    X-RateLimit-Limit:
      $ref: 'https://raw.githubusercontent.com/teamdigitale/openapi/0.0.4/docs/definitions.yaml#/headers/X-RateLimit-Limit'
    X-RateLimit-Remaining:
      $ref: 'https://raw.githubusercontent.com/teamdigitale/openapi/0.0.4/docs/definitions.yaml#/headers/X-RateLimit-Remaining'
    X-RateLimit-Reset:
      $ref: 'https://raw.githubusercontent.com/teamdigitale/openapi/0.0.4/docs/definitions.yaml#/headers/X-RateLimit-Reset'
    Retry-After:
      $ref: 'https://raw.githubusercontent.com/teamdigitale/openapi/0.0.4/docs/definitions.yaml#/headers/Retry-After'

  responses:
    # Predefined error codes for this API
    400BadRequest:
      $ref: 'https://raw.githubusercontent.com/teamdigitale/openapi/0.0.4/docs/definitions.yaml#/responses/400BadRequest'
    404NotFound:
      $ref: 'https://raw.githubusercontent.com/teamdigitale/openapi/0.0.4/docs/definitions.yaml#/responses/404NotFound'
    429TooManyRequests:
      $ref: 'https://raw.githubusercontent.com/teamdigitale/openapi/0.0.4/docs/definitions.yaml#/responses/429TooManyRequests'
    503ServiceUnavailable:
      $ref: 'https://raw.githubusercontent.com/teamdigitale/openapi/0.0.4/docs/definitions.yaml#/responses/503ServiceUnavailable'
    default:
      $ref: 'https://raw.githubusercontent.com/teamdigitale/openapi/0.0.4/docs/definitions.yaml#/responses/default'
  schemas:
    Filters:
      type: object
      properties:
        text:
          type: string
        index:
          type: array
          items:
            type: string
        org:
          type: array
          items:
            type: string
        theme:
          type: array
          items:
            type: string
        date:
          type: string
        status:
          type: array
          items:
            type: string
        owner:
          type: string
        order:
          type: string
        sharedWithMe:
          type: boolean
      example:
        text: immigrazione
        index: []
        org: []
        theme: []
        date: ""
        status: []
        order: score      
    SearchResult:
      type: object
      properties:
        type:
          type: string
          description: type of the source
        source:
          type: string
          description: the source
        match:
          type: string
          description: the match result
    MetaInfo:
      type: object
      properties:
        name:
          type: string
          description: name of the dataset
        logical_uri: 
          type: string
          description: logical uri of metacalog
        physical_uri:
          type: string
          description: physical uri of metacalog
        isExtOpenData:
          type: boolean
          description: is an external open data on PDND
